/////////// FADE IN OUT ////////////////////////////////////////

@keyframes fade-in {
    from {
      visibility: hidden;
      opacity: 0;
    }
    1% {
      visibility: visible;
      opacity: 0;
    }
    to {
      visibility: visible;
      opacity: 1;
    }
}

.fade-in {
    animation: fade-in 200ms ease-in-out forwards;
}
  
@keyframes fade-out {
    from {
        visibility: visible;
        opacity: 1;
    }
    99% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}

.fade-out {
    animation: fade-out 200ms ease-in-out forwards;
}

/////////// SLIDE IN OUT ///////////////////////////////////////////
////////// for .pledge in _popup-window.scss /////////////////////////////////////////////

@keyframes slide-out {
    from {
      visibility: hidden;
      opacity: 0;
      max-height: 0;
    }
    1% {
      visibility: visible;
      opacity: 0;
      max-height: 0;
    }
    to {
      visibility: visible;
      opacity: 1;
      max-height: 7.6875rem;
    }
}

.slide-out {
    animation: slide-out 500ms ease-in-out forwards;
}

@keyframes slide-in {
    from {
      visibility: visible;
      opacity: 1;
      max-height: 7.6875rem;
    }
    99% {
      visibility: visible;
      opacity: 0;
      max-height: 0;
    }
    to {
      visibility: hidden;
      opacity: 0;
      max-height: 0;
    }
}

.slide-in {
    animation: slide-in 500ms ease-in-out forwards;
}