section.modal__window, .thank__you {
    // I added section to raise the specificity. So it overwrites the default styles
    // Default styles are set by the _about.scss because everything is very similar
    position: fixed;
    top: 10vh;
    right: 0;
    left: 0;
    height: 80vh;
    overflow-y: scroll;
    transform: scale(0.95);
    transition: transform 0.5s ease;
    z-index: 10;
    scrollbar-width: none; // hide the scrollbar in Mozilla Firefox
    -ms-overflow-style: none; // hide the scrollbar in IE and Edge


    &::-webkit-scrollbar {
        // hide the scrollbar in Webkit browsers, such as Chrome, Safari and Opera,
        display: none;
    }

    &.active {
        transform: scale(1);
    }
    
    .close-modal {
        position: absolute;
        top: 2.75rem;
        right: 1.49125rem;

        & path {
            transition: opacity 0.25s ease;
        }

        &:hover path {
            opacity: 1;
            cursor: pointer;
        }

        @include respond-above(sm) {
            top: 1.995625rem;
            right: 1.995625rem;
        }
    }

    .radio-input {
        display: none;
    }


    .selection {
        .selection__label:hover {
            color: hsl(176, 50%, 47%);
            cursor: pointer;
        }

        .selection__label:hover .radioCircle {   
            border-color: hsl(176, 50%, 47%);
        }

        .selection__header {
            margin-top: auto;
            margin-right: auto;
            margin-bottom: auto;
            transition: color 0.25s ease;

            .selection-name {
                display: inline-block;
                color: black;
                font-weight: bold;
                @include font-size(14);
                @include line-height(17);

                @include respond-above(sm) {
                    display: inline-block;
                    @include font-size(16);
                    @include line-height(20);
                }
            }

            .pledge-label {

                @include respond-above(sm) {
                    padding-bottom: 0;
                    margin-left: 1.0625rem;
                }
            }
        }

        &.active {
            border-color: hsl(176, 50%, 47%);
    
            & .selection__label {
                color: hsl(176, 50%, 47%);
                border-color: hsl(176, 50%, 47%);
            }

            & .radioCircle::after {
                transform: scale(1);
            }

            .stock__container {
                margin-bottom: 2.25rem;
            }
        }
    }

    .radioCircle {
        position: relative;
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        border: 1px solid hsl(0, 0%, 90%);
        margin-right: 1rem;
        flex-shrink: 0;
        transition: border-color 0.25s ease;

        &::after {
            display: block;
            position: absolute;
            top: 3px;
            left: 3px;
            content: "";
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background-color: hsl(176, 50%, 47%);
            transform: scale(0);
            transition: transform 0.25s ease;
        }
    }

    .pledge {
        // visibility, max-height and opacity are controlled 
        // by .slide-in and .slide-out in animations.scss and javascript
        border-top: 1px solid hsl(0, 0%, 90%);
        text-align: center;
        max-height: 0;

        @include respond-above(sm) {
            display: grid;
            grid-template-columns: 1fr auto;
            align-items: center;
            justify-items: start;
        }

        .enter-your-pledge {
            margin-top: 1.5rem;

            @include respond-above(sm) {
                grid-column-start: 1;
            }
        }

        .amount__group {
            display: inline-block;
            position: relative;
            margin-top: 1.5rem;
            grid-column-start: 2;

            .pledge-input {
                max-width: 6.25rem;
                padding: 1rem 2rem;
                text-align: center;
                border-radius: 2.09375rem;
                border: 1px solid rgba(0, 0, 0, 0.15);
                font-family: Commissioner;
                font-weight: bold;
                @include line-height(17);
                @include font-size(14);
                color: black;
            }

            &.error {
                div input[type="text"] {
                    border: 1px solid hsl(356, 100%, 66%);
                }
            }

            .input__container::before {
                position: absolute;
                top: 1rem;
                left: 1.5rem;
                content: "$";
                font-family: Commissioner;
                font-weight: bold;
                @include line-height(17);
                @include font-size(14);
                color: black;
                opacity: 0.25;
                z-index: 10;
            }

            &::after {
                display: block;
                position: absolute;
                top: 3.5rem;
                left: 0;
                content: "Please enter a valid pledge";
                color: hsl(356, 100%, 66%);
                font-size: 0.75rem;
                opacity: 0;
                pointer-events: none;
                transition: opacity 0.25s ease;
            }

            &.error::after {
                opacity: 1;
            }  
        }
    }

    // for .thank__you modal popup window
    .button {
        padding: 1rem 1.5rem;
        @include font-size(14);
        @include line-height(17);

        @include respond-above(sm) {
            margin-left: 1rem;
        }
    }
}

.thank__you {
    top: 15vh;
    max-width: 33.75rem;
    height: auto;
    padding-top: 2rem;
    visibility: hidden;

    &.active {
        visibility: visible;
    }

    @include respond-above(sm) {
        margin-left: auto;
        margin-right: auto;
    }

    .icon-check {
        margin-bottom: 1.5rem;
    }

    .paragraph {
        text-align: center;
        margin-bottom: 1.96875rem;
    }

    .button {
        padding: 1rem 2.0625rem;
    }
}