.product {
    //transform: translateY(-3.7rem);
    margin-bottom: 1.5rem; // spacing between sections
    padding: 0 1.5rem;

    @include respond-above(sm) {
        padding: 0 3rem;
        padding-bottom: 1.25rem; //48px = 3rem then 3rem - 1.75rem
    }

    // select all children except the first, which is the icon that was moved
    //remove the extra space leftover from moving the icon
    > * + * {
        transform: translateY(-1.75rem);
    }

    .product-logo {
        transform: translateY(-1.75rem);
        left: 0;
        right: 0;
        margin: 0;
    }

    .product-name {
        margin: 0;
        padding-top: 1.5rem;
        padding-right: 2.625rem;
        padding-left: 2.625rem;
        font-weight: bold;
        @include font-size(20);
        @include line-height(24);

        @include respond-above(sm) {
            padding-top: 1.75rem;
            @include font-size(28);
            @include line-height(34);
        }
    }

    p {
        margin: 0;
        padding-bottom: 1.5rem;
        @include font-size(14);
        @include line-height(24);

        @include respond-above(sm) {
            padding-top: 0.9375rem;
            padding-bottom: 2.5rem;
            @include font-size(16);
            @include line-height(20);
        }
    }

    .product__buttons {
        .select-button {
            padding: 1.125rem 2.5rem;
        }
    
        .product__bookmark {
            max-width: 10.875rem;

            .bookmark-icon circle,
            .bookmark-icon path,
            .bookmark-label {
                transition: all 0.5s ease;
            }


            &.active {
                .bookmark-icon circle {
                    fill: $darkCyan;
                }
                .bookmark-icon path {
                    fill: white;
                }
                .bookmark-label {
                    color: $darkCyan;
                    max-width: 11.875rem;
                }
            }

            .bookmark-icon {
                width: 56px; 
                height: 56px;
                position: relative;
                z-index: 1;
            }

            .bookmark-label {
                max-width: 10.8125rem;
                padding-top: 1.125rem;
                padding-right: 1.5rem;
                padding-bottom: 1.125rem;
                padding-left: 4.5rem;
                font-weight: bold;
                @include font-size(16);
                @include line-height(20);
                color: $darkGray;
                text-align: right;
                
                background: #f5f5f5;
                border-radius: 2.09375rem;
    
                transform: translateX(-56px);
                z-index: 0;
            }
        }
    }
}