// Primary

$moderateCyan: hsl(176, 50%, 47%);
$darkCyan: hsl(176, 72%, 28%);

//Neutral

$black: hsl(0, 0%, 0%);
$darkGray: hsl(0, 0%, 48%);
$background: rgb(250, 250, 250);

//Font 

$font-10: 0.625rem; //10px
$font-12: 0.75rem; //12px
$font-14: 0.875rem; //14px
$font-16: 1rem; //16px
$font-22: 1.375rem 

